<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_administracion</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/imagen-logo/logo_oficial.png">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style_tablero_propiedades.css">
    <script src="https://kit.fontawesome.com/e43b4d35fb.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    <div class="area">

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <header class="d-flex">
            <div class="icon__menu me-4 ms-3">
                <i class="fas fa-bars" id="btn_open"></i>
            </div>

            <div class=" d-inline-flex col-lg-10">
                <a class=" ms-3" style="color:#023D82;" asp-controller="Propiedades" asp-action="Propiedades">
                    <h6 class="my-2 size-letter-menu">Propiedades</h6>
                </a>
                <a class=" ms-3" style="color:#023D82;" asp-controller="Administracion" asp-action="BrockerTab">
                    <h6 class="my-2 size-letter-menu">Brokers</h6>
                </a>
                <a href="" class="ms-4" style="color:#023D82;">
                    <h6 class="my-2 size-letter-menu">Informes</h6>
                </a>
            </div>
            <div class="col-lg-1 ">

                <a href="" class=" home-user">
                    <img src="./img/persona1.jpg" alt=""
                         class="back-image-header img-fluid m-1 shadow my-2">
                </a>
            </div>

        </header>

        <div class="menu__side" id="side_menu">
             <a class=" style-vermas" asp-controller="Administracion" asp-action="TabMesaControl">
            <div class="name__page">
                <i class="fa-solid fa-house " title="home"></i>
                <h6>Home</h6>
            </div>
            </a>
            <div class="options__menu">

                <a  class="selected" asp-controller="Administracion" asp-action="UsuariosTab">
                    <div class="option">
                        <i class="fa-solid fa-user" title="user"></i>
                        <h6>Usuarios</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-gear" title="Configuración"></i>
                        <h6>Configuración</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-cart-shopping" title="Planes"></i>
                        <h6>Planes</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-box-archive" title="Catalogo"></i>
                        <h6>Catalagos</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-gear" title="Configuración"></i>
                        <h6>Permisos</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-file-lines" title="Documentos"></i>
                        <h6>Documentos</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-headset" title="Nosotros"></i>
                        <h6>Soporte</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-door-open" title="Salir"></i>
                        <h6>Salir</h6>
                    </div>
                </a>

            </div>

        </div>








        <main role="main" class="pb-3">
            @RenderBody()
        </main>



        <!--Scripts-->
        <script>
            // Script para tab de tablero de brokers
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();




            /*Función 2 para ocultar las tablas*/
            function vertablas(evt, vertablas) {

                var i, tabcontent2, tablinks2;
                tabcontent2 = document.getElementsByClassName("tabcontent2");
                for (i = 0; i < tabcontent2.length; i++) {
                    var juanito = tabcontent2[i].style.display = "none";
                    tabcontent2[i].style.display = "none";
                }
                tablinks2 = document.getElementsByClassName("tablinks2");
                for (i = 0; i < tablinks2.length; i++) {
                    tablinks2[i].className = tablinks2[i].className.replace(" active", "");
                }
                document.getElementById(vertablas).style.display = "block";
                evt.currentTarget.className += " active";

            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen2").click();


            /*Función 3 para ocultar contenedores*/
            function vercontenedor(evt, vercontenedor) {
                var i, tabcontent3, tablinks3;
                tabcontent3 = document.getElementsByClassName("tabcontent3");
                for (i = 0; i < tabcontent3.length; i++) {
                    tabcontent3[i].style.display = "none";
                }
                tablinks3 = document.getElementsByClassName("tablinks3");
                for (i = 0; i < tablinks3.length; i++) {
                    tablinks3[i].className = tablinks3[i].className.replace(" active", "");
                }
                document.getElementById(vercontenedor).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen3").click();






            /*Función 4 para ocultar las tablas*/
            function vercontenedor2(evt, vercontenedor2) {
                var i, tabcontent4, tablinks4;
                tabcontent4 = document.getElementsByClassName("tabcontent4");
                for (i = 0; i < tabcontent4.length; i++) {
                    tabcontent4[i].style.display = "none";
                }
                tablinks4 = document.getElementsByClassName("tablinks4");
                for (i = 0; i < tablinks4.length; i++) {
                    tablinks4[i].className = tablinks4[i].className.replace(" active", "");
                }
                document.getElementById(vercontenedor2).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen4").click();


            /*Función 5 para ocultar las tablas*/
            function vercontenedor3(evt, vercontenedor3) {
                var i, tabcontent5, tablinks5;
                tabcontent5 = document.getElementsByClassName("tabcontent5");
                for (i = 0; i < tabcontent5.length; i++) {
                    tabcontent5[i].style.display = "none";
                }
                tablinks5 = document.getElementsByClassName("tablinks5");
                for (i = 0; i < tablinks5.length; i++) {
                    tablinks5[i].className = tablinks5[i].className.replace(" active", "");
                }
                document.getElementById(vercontenedor3).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen5").click();


        </script>

        <script src="~/js/script.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
