@{
    Layout = "_NavUsuarios";
}

<div class="container-lg ">
    <div class="row">
        <div class="col">
       
 
            <br />
           <h1> ¡Hola! Bienvenido </h1>

            <img src="~/img/bienvenido/saludo.jpg" alt="imagenLogo" class="img-fluid m-1 " />
        </div>
    </div>
</div>

