@{
    Layout = "_EcommerceG";
    ViewData["Title"] = "Home Page";
}

<h2>¡Hola bienvenido!, estás a un gran paso de formar parte de nuestro equipo.</h2>
<p>Hemos enviado un correo electrónico con los pasos a seguir para continuar con tu registro. </p>
<br />
 <p> Te invitamos a seguir en nuestra página</p> <a asp-controller="Cuentas" asp-action="Index">ECOMMERCE</a>