<h2>¡Hola bienvenido!, gracias por querer formar parte de esta tripulación</h2>
<p>Ahora que tu email ha sido confirmado puedes iniciar sesión. Adelante -> <a asp-controller="Cuentas" asp-action="Acceso">Acceso</a></p>
