@model OlvidoPasswordVModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Olvido de contraseña";
 }
 <title>Olvido de contraseña</title>
 <h1>Olvido de contraseña</h1>
 <form asp-controller="Cuentas" asp-action="OlvidoPassword" method="post" role="form">
     <div class="text-danger" asp-validation-summary="All"></div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input asp-for="Email" type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>