@model RecuperaPasswordVModel

@{
    ViewData["Title"] = "Recupera contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Recupera tu contraseña</h1>
<form asp-controller="Cuentas" asp-action="ResetPassword" method="post" role="form" >
    <div class="text-danger" asp-validation-summary="All"></div>
    <!--Recuperación de contraseña TOKEN-->

    <input type="hidden" asp-for="Code" />

    <!--Prueba del ID de Usuario-->
    <input type="hidden" asp-for="UserId" />
      
    <!--

      <div class="mb-3">
        <label class="form-label">Correo</label>
        <input asp-for="Email" type="text" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>

    -->

       <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input asp-for="Password"  class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>

      <div class="mb-3">
        <label class="form-label">Confirma contraseña</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
      </div>
      
      <button type="submit" class="btn btn-primary">Cambio de contraseña </button>
</form>

@section Scripts{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}}
